.footer {
	padding-bottom: 30px;
	background-color: #2a2a2a;
	color: white;
}

/* footer top */

.footer_top {
	padding: 22px 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid #4a4a4a;
}

.footer_logo {
	width: 133px;
	height: 29px;
}

.footer_nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.footer_item {
	padding-right: 47px;
}

.footer_item:last-child {
	padding-right: 0;
}

.footer_link {
	font-size: 13px;
	line-height: 32px;
	font-weight: 500;
	text-transform: uppercase;
	color: #686868;
}

.footer_link:hover,
.footer_link:focus {
	color: white;
}

.footer_bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 35px;
}

.footer_copyright {
	padding: 14px 0 14px;
	margin-right: 75px;
	width: 310px;
	font-size: 15px;
	line-height: 26px;
	font-weight: 300;
	color: #686868;
}

.footer_about {
	margin-bottom: 12px;
}

.footer_copyright-link {
	font-weight: 700;
	color: #686868;
}

.footer_copyright-link:hover,
.footer_copyright-link:focus {
	color: white;
}		

.footer_menu {
	padding-top: 15px;
	padding-bottom: 18px;
	padding-left: 122px;
	padding-right: 87px;
	width: 505px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	border-right: 1px solid #393939;
	border-left: 1px solid #393939;
	text-transform: capitalize;
}

.footer_column {
	width: 200px;
}

.footer_column:first-child {
	margin-right: 78px;
}

.footer_menu-link {
	position: relative;
	font-size: 15px;
	line-height: 29px;
	font-weight: 300;
	color: #686868;
	-webkit-transition: margin 150ms;
	transition: margin 150ms;
}

.footer_menu-link:hover,
.footer_menu-link:focus {
	color: white;
	margin-left: 7px;
}

.footer_menu-link:hover::before,
.footer_menu-link:focus::before {
	color: white;
	left: -20px;
	bottom: 12px;
}

.footer_menu-link::before {
	display: block;
	position: absolute;
	font-family: "FontAwesome";
	content: '\f105';
	font-size: 14px;
	color: #686868;
	width: 10px;
	height: 10px;
	left: -13px;
	bottom: 12px;
}
.footer_contacts {
	padding-top: 20px;
	margin-left: 79px;
	width: 246px;
	font-weight: 300;
}

.footer_phone {
	margin-bottom: 15px;
}

.footer_phone-link {
	font-size: 14px;
	font-weight: 500;
	color: #686868;
}

.footer_email {
	margin-bottom: 7px;
}

.footer_email .footer-icon {
	font-size: 13px;
}

.footer_email-link {
	font-size: 15px;
	color: #686868;
}

.footer_phone-link:hover,
.footer_phone-link:focus,
.footer_email-link:hover,
.footer_email-link:focus {
	text-decoration: underline;
	color: #ffffff;
}

.footer_address {
	margin-top: 5px;
	font-size: 15px;
	line-height: 29px;
	color: #686868;
}

.footer-icon {
	padding-right: 12px;
	font-size: 13px;
	color: #686868;
}