.slider {
	margin-bottom: 100px;
	padding: 34px 0 70px;
	background-color: black;
	background-image: url("../img/commnsbg.jpg");
	background-repeat: repeat;
	text-align: center;
	color: white;
}

.slider .container {
	position: relative;
}

.slider input {
  display: none;
}

input[type="radio"]:nth-of-type(1):checked ~ .slider__controls .slider__control:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .slider__controls .slider__control:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .slider__controls .slider__control:nth-of-type(3) {
	background-color: white;
}

input[type="radio"]:nth-of-type(1):checked ~ .slider__items .slider__item:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .slider__items .slider__item:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .slider__items .slider__item:nth-of-type(3) {
  display: block;
}

.slider__item {
	padding: 0 150px;
	display: none;
}

.slider__item p {
	margin-top: 12px;
	letter-spacing: 0.1px;
}

.slider__post {
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 30px;	
	font-weight: 300;
}

.slider__author {
	position: absolute;
		bottom: -35px;	
		right: 540px;
	margin-right: 58px;
	padding-right: 12px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	font-style: normal;
}

.slider__controls {
	position: absolute;
		bottom: -34px;	
		right: 522px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.slider__control {
	width: 8px;
	height: 8px;
	margin: 0 6px;
	border: 1px solid white;
	border-radius: 100%;
	cursor: pointer;
	-webkit-transition: background-color 150ms ease-out;
	transition: background-color 150ms ease-out;
}

.slider__control:hover {
	background-color: white;
}